html,body {height:100%;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:none;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:hover,a:focus{color:#23527c;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}[role="button"]{cursor:pointer}.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after{content:" ";display:table}.clearfix:after,.container:after,.container-fluid:after,.row:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important}.affix{position:fixed}@-ms-viewport{width:device-width}.visible-xs,.visible-sm,.visible-md,.visible-lg{display:none !important}.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block{display:none !important}@media (max-width:767px){.visible-xs{display:block !important}table.visible-xs{display:table}tr.visible-xs{display:table-row !important}th.visible-xs,td.visible-xs{display:table-cell !important}}@media (max-width:767px){.visible-xs-block{display:block !important}}@media (max-width:767px){.visible-xs-inline{display:inline !important}}@media (max-width:767px){.visible-xs-inline-block{display:inline-block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block !important}table.visible-sm{display:table}tr.visible-sm{display:table-row !important}th.visible-sm,td.visible-sm{display:table-cell !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block !important}table.visible-md{display:table}tr.visible-md{display:table-row !important}th.visible-md,td.visible-md{display:table-cell !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block !important}}@media (min-width:1200px){.visible-lg{display:block !important}table.visible-lg{display:table}tr.visible-lg{display:table-row !important}th.visible-lg,td.visible-lg{display:table-cell !important}}@media (min-width:1200px){.visible-lg-block{display:block !important}}@media (min-width:1200px){.visible-lg-inline{display:inline !important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block !important}}@media (max-width:767px){.hidden-xs{display:none !important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none !important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none !important}}@media (min-width:1200px){.hidden-lg{display:none !important}}.visible-print{display:none !important}@media print{.visible-print{display:block !important}table.visible-print{display:table}tr.visible-print{display:table-row !important}th.visible-print,td.visible-print{display:table-cell !important}}.visible-print-block{display:none !important}@media print{.visible-print-block{display:block !important}}.visible-print-inline{display:none !important}@media print{.visible-print-inline{display:inline !important}}.visible-print-inline-block{display:none !important}@media print{.visible-print-inline-block{display:inline-block !important}}@media print{.hidden-print{display:none !important}}

[class*="block"]{
  display :inline-block;
  width :100%;
}

.no_padding{
  padding-left: 0;
  padding-right: 0;
}

.u_gray {
  background: #eee;
  position: relative
}

.u_gray:before, .u_gray:after {
  background: #eee;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
}
.u_gray:after {
  left: 100%;
}

.bgFull {
   overflow: hidden;
   font-size: 0;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

@font-face {
  font-family: "Flaticon";
  src: url("fonts/flaticon.eot");
  src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("fonts/flaticon.woff") format("woff"),
  url("fonts/flaticon.ttf") format("truetype"),
  url("fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}
.flaticon-blog:before {
  content: "\e000";
}
.flaticon-preguntasFrecuentes:before {
  content: "\e001";
}
.flaticon-saludMental:before {
  content: "\e002";
}
.flaticon-location:before {
  content: "\e003";
}
.flaticon-centroDiscapacitados:before {
  content: "\e004";
}
.flaticon-facebook:before {
  content: "\e005";
}
.flaticon-googlePlus:before {
  content: "\e006";
}
.flaticon-search:before {
  content: "\e007";
}

/* body ==================== */

body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color:#3f3f3f;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.286;
}

h1,h2, h3, h4, h5, h6 {
  margin: 0;
}

h1{
  color: #aaaaaa;
  font: 13px 'Questrial', sans-serif normal;
}

ul,li{
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

li a {
  font-size: 16px;
}

a{
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  display: inline-block;
  outline: 0;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:active, a:focus, a:hover {
  outline: 0;
  text-decoration: none;
}

@media (min-width: 992px) {
  .center_verticalHeader {
    height: 40px;
  }

  .center_verticalHeader:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }  
}

.header_topMenu {
  font: 14px 'Questrial', sans-serif normal;
}

.header_topMenu span {
  color: #898787;
}

.header_topMenu strong {
  color: #5d5c5c;
}

.header_topMenu nav {
  display: inline-block;
}

.header_topMenu nav a {
  color: #8e8e8e;
  font-size: 14px;
}

.header_topLogos {
  text-align: center;
  padding: 30px 0;
  border-bottom: solid 1px #acc7d9;
}

.header_topLogos a:first-child {
  margin-right: 50px;
}

.main_principal {
  text-align: center;
  padding: 20px 0;
}

.main_principal li {
  margin-right: 55px;
}

.main_principal li:last-child {
  margin-right: 0;
}

.main_principal a {
  color: #3f3f3f;
  font: 700 normal 14px 'Lato', sans-serif;
}

.slider_block > div{
  position: relative;
}

.slider_block img {
  display: block;
  height: auto;
  max-width: 100%;
}

.slider_block .block_title {
  background: #fff;
  border-bottom: solid 1px #acc7d9;
  bottom: -102px;
  left: 0;
  margin-bottom: 45px;
  margin: auto;
  padding: 52px 12%;
  position: absolute;
  right: 0;
  text-align: center;
}

.block_title h2 {
  color: #2b7e40;
  font-size: 48px;
  text-transform: uppercase;
}

.block_title small {
   color: #868686;
   font: 24px 'Questrial', sans-serif normal;
}

.block_section {
  margin-top: 102px;
  overflow: hidden;
}

.section_top {
  padding-top: 45px;  
}

.img_section {
  position: relative;
  overflow: hidden;
}

.img_section .caption {
  -moz-transition: top 0.3s;
  -ms-transition: top 0.3s;
  -webkit-transition: top 0.3s;
  background: rgba(255, 255, 255, 0.9);
  height: 100%;
  position: absolute;
  top: 100%;
  transition: top 0.3s;
  text-align: center;
}

.caption.active {
  top: 0;
}

.caption_hover {
    height: 130px;
}
.caption_hover:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.caption h3 {
  color: #0662a3;
  font: 700 normal 30px 'Lato', sans-serif;
  text-transform: uppercase;
}

.caption p {
  color: #3a3a3a;
  font: 18px 'Questrial', sans-serif normal;
  margin: 25px auto;
  max-width: 65%;
}

.caption .span {
  border-top: solid 2px #951313;
  color: #575859;
  display: block;
  font: 700 normal 12px 'Lato', sans-serif;
  margin: auto;
  padding-top: 14px;
  text-transform: uppercase;
  width: 30%;
}

.section_bottom {
  background: url('img/section/bg.jpg') no-repeat;
  background-size: cover;
  font-size: 0px;
}

.section_bottom li {
  font-size: 18px;
  width: 100%;
}

.section_bottom h4 {
  color: #2b7e40;
  font: 400 normal 30px 'Lato', sans-serif;
}

.section_bottom p, .section_bottom li {
  color: #868686;
  font: 18px 'Questrial', sans-serif normal;
}

.section_bottom li {
  position: relative;
  padding-left: 15px;
}

.section_bottom li:before {
  border-color: transparent transparent transparent #2b7e40;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  bottom: 0;
  content: '';
  height: 0px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0px;
}

.block_top {
  background: #0662a3;
  color: #fff;
  font-size: 0;
  margin: 45px 0;
  padding: 14px 0;
  position: relative;
}

.block_top:before,
.block_top:after {
  content: '';
  position: absolute;
}

.block_top:before {
  background: #2b7e40;
  height: 100%;
  top: 0;
  width: 8px;
}

.block_top:after {
  border-color: transparent transparent transparent #2b7e40;
  border-style: solid;
  border-width: 8px 0 8px 10px;
  bottom: 0;
  content: '';
  height: 0px;
  left: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0px;  
}

.block_top strong {
  display: inline-block;
  font: 700 normal 24px 'Lato', sans-serif;
  padding-left: 30px;
  text-transform: uppercase;
  vertical-align: middle;
}

.block_top .redes {
  display: inline-block;
  vertical-align: middle;
}

.block_top .redes li:before {
  font-size: 50px;
}

.search_form .search {
  border: solid 2px;
  padding: 10px 0 10px 10px;
  position: relative;
  width: 100%;
}

.search_form input[type="search"] {
  background: transparent;
  border: transparent;
  font: 14px 'Questrial', sans-serif normal;
  outline: none;
  width: 85%;
}

.search_form .flaticon-search {
  background: transparent;
  border: transparent;
  bottom: 0;
  outline: none;
  padding: 0;
  position: absolute;
  right: 8px;
  top: 0;
}

.search_form .flaticon-search:before {
  margin-left: 0;
}


input[type="search"]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #f1f1f1;
}
input[type="search"]::-moz-input-placeholder,
input[type=text]::-moz-input-placeholder,
input[type=email]::-moz-input-placeholder,
textarea::-moz-input-placeholder {
  color: #f1f1f1;
}
input[type="search"]:-moz-input-placeholder,
input[type=text]:-moz-input-placeholder,
input[type=email]:-moz-input-placeholder,
textarea:-moz-input-placeholder {
  color: #f1f1f1;
}
input[type="search"]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #f1f1f1;
}

.block_bottom {
  background: url('img/section/bg_arboles.jpg');
  background-size: 100% 100%;
  position: relative;
  height: 475px;
}

.tabs_content {
  bottom: 0;
  height: 70%;
  left: 0;
  margin: auto auto auto 10%;
  position: absolute;
  top: 0;
  width: 50%;
  font-size: 0;
}

.tabs_content .tabs {
  display: inline-block;
  vertical-align: top;
  width: 11%;
}

.tabs_content .tabs_container {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  font-size: 14px;
  overflow: hidden;
  padding: 20px 5% 40px 10%;
  vertical-align: top;
  width: 89%;
}

.tabs_content .tab_item:before {
  font-size: 39px;
  color: #969696;
  margin-left: 0;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tabs_content .tab_item {
  background: #fff;
  cursor: pointer;
  height: 100%;
  margin-bottom: 10px;
  padding: 7px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.tabs_content .tab_item.active {
  background: rgba(255, 255, 255, 0.8);
}

.tabs_content .tab_item.active:before {
  color: #2b7e40;
}

.tabs_content .tab_item:last-child {
    margin-bottom: 0;
}

.tabs_container .tab {
  display: none;
}

.tabs_container .tab:first-child {
  display: block;
}

.tabs_container h5 {
  color: #2b7e40;
  font: 400 normal 24px 'Lato', sans-serif;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.tabs_container p {
  color: #868686;
  font: 14px 'Questrial', sans-serif normal;
}

.tabs_container ul {
  margin-top: 40px;
  padding-left: 40px;
  position: relative;
}

.tabs_container ul:before, 
.tabs_container ul:after {
  content: '';
  position: absolute;
}

.tabs_container ul:before {
  background: #951313;
  height: 100%;
  left: 0;
  top: 0;
  width: 3px;
}

.tabs_container ul:after {
  border-color: transparent transparent transparent #951313;
  border-style: solid;
  border-width: 8px 0 8px 10px;
  bottom: 0;
  content: '';
  height: 0px;
  left: 3px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0px;  
}

.tabs_container li {
  margin-bottom: 10px;
  width: 100%;
}

.tabs_container li:last-child {
  margin-bottom: 0;
}

.tabs_container a {
  font: 14px 'Questrial', sans-serif normal;
  color: #626262;  
}

/* Media query 480 ==================== */

@media (min-width: 480px) {}

/* Media query 768 ==================== */

@media (min-width: 768px) {}

/* Media query 992 ==================== */

@media (min-width: 992px) {}

/* Media query 1200 ==================== */

@media (min-width: 1200px) {}